# Backend
NODE_ENV=development
PORT=3001
FRONTEND_URL=http://localhost:3000

# Frontend (prefix VITE_ pour Vite)
VITE_BACKEND_URL=http://localhost:3001

# Supabase (etape suivante)
# SUPABASE_URL=
# SUPABASE_ANON_KEY=

# Genius API (etape ETL)
# GENIUS_ACCESS_TOKEN=
